.btn{
    display: inline-block;
    background: palevioletred;
    border-radius: 10px;
    padding: 10px 16px;
    margin-top: 20px;
    font-weight: 500;
   
}

input[type="tel"], textarea {

    background-color : #ee93c5; 
  
  }